*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body{
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Poppins', sans-serif;

    background-image: url(img/background.jpg);
    background-size: cover; 
    background-position: center;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: darken;
}

.card{

    width: 350px;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
    color: white;
    box-shadow: 0 8px 32px rgba(0,0,0,0.4);
    border: 1px solid rgba(255,255,255,0.2);
    transition: 0.3s;
    animation: float 3s ease-in-out infinite;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

@keyframes float{
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-8px);
    }

    100%{
        transform: translateY(0);
    }
}

.card:hover{
    transform: translateY(-10px);
}

.social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    padding: 0.5rem;
    align-items: center;
    display: flex;
    justify-content: center;
    transition: ease-in-out 0.3s;
}

.button{
    background-color: #1E1630;
    font-size: 10px;
    font-weight: 500;
    border-radius: 10px;
    margin-top: 10px;
    border: 1px solid rgb(90, 25, 90);

}

a:hover{
    color: #9646ac;
    transition: ease-in-out 0.3s;
}

.card img{
     width: 230px;
    height: 230px;

    object-fit: cover;

    border-radius: 50%;

    border: 2px solid #fff;

    margin-bottom: 20px;
}